<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        const message =`[[${ message }]]`;
        if (message) {
            alert(message);
        }
    </script>
</head>
<body>
    <h1>회원가입</h1>
    <form th:action="@{/admin/signup}" method="post">
        ID : <input type="text" name="userId"><br>
        PWD : <input type="password" name="userPwd"><br>
        이름 : <input type="text" name="userName"><br>
        전화번호 : <input type="number" name="userPhone"><br>
        생년월일 : <input type="date" name="userBirth"><br>
        주소 : <input type="text" name="userAddress"><br>
        사업자등록증 : <input type="file" name="userEtc"><br>
        권한 :
        <select name="userRole">
            <option value="직원">직원</option>
            <option value="대표">대표</option>
        </select><br>
        <button>회원가입</button>
    </form>
</body>
</html>